/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

@media (max-width: 1700px) {
    .btn {
        width: 200px;
        height: 50px;
        font-size: 18px;
    }

    .section-title {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .menu-item--panel__content {
        margin-top: 42px;
    }

    .contact-form__content {
        max-width: 800px;
    }
    .contact-form__title {
        font-size: 44px;
        margin-bottom: 40px;
    }
    .contact-form__item {
        padding: 12px 0;
    }
    .contact-form__item label {
        font-size: 18px;
    }
    .contact-form__item input {
        height: 44px;
    }
    .contact-form__text {
        margin-top: 20px;
        font-size: 18px;
    }

    .header-container {
        min-height: 50px;
    }
    .header-logo img {
        max-height: 48px;
    }
    .header-menu__item:not(:last-child) {
        margin-right: 40px;
    }
    .header-socials__item {
        width: 30px;
        height: 30px;
    }

    .hero {
        margin-top: 50px;
        min-height: calc(100vh - 50px);
    }
    .hero-slider__slide {
        max-height: calc(100vh - 50px);
        min-height: calc(100vh - 50px);
    }
    .hero--game__text {
        font-size: 24px;
        max-width: 400px;
    }

    .games-grid {
        grid-template-columns: repeat(auto-fit, minmax(420px, -webkit-max-content));
        grid-template-columns: repeat(auto-fit, minmax(420px, max-content));
        grid-gap: 40px;
    }
    .games-card {
        max-width: 420px;
    }

    .news-grid {
        grid-template-columns: repeat(auto-fit, minmax(420px, -webkit-max-content));
        grid-template-columns: repeat(auto-fit, minmax(420px, max-content));
        grid-gap: 40px;
    }
    .news-card {
        max-width: 420px;
    }

    .newsletter {
        padding: 60px 0 80px;
    }
    .newsletter-title {
        font-size: 48px;
    }
    .newsletter-subtitle {
        font-size: 18px;
    }
    .newsletter-form {
        max-width: 700px;
    }
    .newsletter-form__input {
        height: 50px;
        font-size: 18px;
    }
    .newsletter-form__btn {
        width: 150px!important;
    }

    .footer-menu__item:not(:last-child) {
        margin-right: 40px;
    }

    .page-hero {
        padding-top: 50px;
    }
    .page-hero__banner {
        padding: 5px 60px;
        margin-bottom: 40px;
        font-size: 18px;
    }
    .page-hero__title {
        font-size: 60px;
    }
    .page-hero--small {
        min-height: 350px;
    }
    .page-hero--small .page-hero__title {
        font-size: 48px;
    }
    .page-hero--small .page-hero__subtitle {
        font-size: 24px;
        margin-top: 10px;
    }

    .page-quote {
        padding: 60px 0 50px;
    }
    .page-quote__text {
        font-size: 24px;
        max-width: 800px;
    }

    .page-info {
        padding: 60px 0;
    }
    .page-info-container {
        max-width: 1000px;
    }
    .page-info__top {
        margin-bottom: 30px;
    }
    .page-info__title {
        font-size: 40px;
        line-height: 40px;
    }
    .page-info__subtitle {
        font-size: 24px;
    }
    .page-info__text {
        font-size: 20px;
    }

    .vacancies-title {
        font-size: 44px;
    }
    .vacancies-subtitle {
        font-size: 18px;
    }
    .vacancies-subtitle span {
        margin-left: 5px;
    }
    .vacancies-list {
        max-width: 1200px;
    }
    .vacancies-item {
        gap: 30px;
        padding: 20px 30px;
    }
    .vacancies-item--header {
        gap: 30px;
        padding: 15px 30px;
    }
    .vacancies-item--header__text {
        font-size: 18px;
    }
    .vacancies-item > *:nth-child(1) {
        max-width: 280px;
    }
    .vacancies-item > *:nth-child(2), .vacancies-item > *:nth-child(3) {
        max-width: 180px;
    }
    .vacancies-item__text {
        font-size: 18px;
        font-weight: 500;
    }
    .vacancies-item__desc {
        font-size: 16px;
        font-weight: 400;
    }

    .vacancy {
        padding: 60px 0;
    }
    .vacancy-title {
        font-size: 28px;
    }
    .vacancy-title--uppercase {
        line-height: 40px;
    }
    .vacancy-text {
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 30px;
    }
    ul.vacancy-text  {
        padding-left: 20px;
    }
    .vacancy-btn-apply {
        margin-top: 50px;
    }

    .apply-content {
        padding-bottom: 60px;
    }


    .game-top {
        max-width: 800px;
        margin: 0 auto 80px;
    }
    .game-title {
        font-size: 48px;
    }
    .game-desc {
        font-size: 20px;
    }
    .game-row {
        max-width: 1200px;
    }
    .game-row:not(:last-of-type) {
        margin-bottom: 80px;
    }
    .game-item__title {
        font-size: 48px;
    }
    .game-item__text {
        font-size: 20px;
    }
    .game-item__img {
        height: 350px;
    }

    .more-games {
        padding: 100px 0 80px;
    }
    .more-games__content {
        max-width: 1000px;
    }
    .more-games__item-image {
        width: 460px;
        height: 250px;
    }
    .more-game__title {
        font-size: 24px;
        font-weight: 600;
        margin-top: 10px;
    }
    .more-games__soon {
        padding: 60px 0;
        margin-top: 30px;
    }
    .more-games__soon-title {
        font-size: 38px;
        max-width: 300px;
        font-weight: 700;
    }

    .one-news {
        padding: 60px 0;
    }
    .one-news__image-text {
        font-size: 16px;
        margin-top: 5px;
    }
    .one-news__body {
        margin-top: 60px;
    }
    .one-news__text {
        font-size: 20px;
        line-height: 150%;
    }
    .one-news__text:not(:last-child) {
        margin-bottom: 30px;
    }
    ul.one-news__text  {
        padding-left: 20px;
    }

    .contacts {
        margin-top: 50px;
        padding: 50px 0 60px;
    }
    .contacts-title {
        font-size: 44px;
        margin-bottom: 60px;
    }
    .contacts-item:not(:last-of-type) {
        margin-bottom: 20px;
    }
    .contacts-item__text {
        font-size: 22px;
    }
    .contacts-item__link {
        font-size: 22px;
        margin-top: 10px;
    }
    .contacts-slider {
        height: 640px;
    }

    .get-in-touch {
        padding: 60px 0;
    }
}

@media (max-width: 992px) {
    .section {
        padding: 40px 0 60px;
    }

    .contact-form__row {
        gap: 40px;
    }
    .contact-form__text {
        font-size: 16px;
    }

    .header-menu--desktop {
        display: none;
    }
    .header-socials--desktop {
        display: none;
    }
    .header__wrapper-burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #1D1D1D;
        z-index: 5;
        padding: 80px 40px 40px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        overflow: auto;
        min-height: 100vh;
        max-height: 100vh;
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    .header__wrapper-burger .header-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .header__wrapper-burger .header-menu__item {
        padding: 0 30px;
        font-size: 36px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        margin: 0 0 40px;
        line-height: 1;
    }
    .header__wrapper-burger .header-socials {
        margin: 18px 0 32px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .header__wrapper-burger .header-socials__item {
        width: 35px;
        height: 35px;
    }
    .header__wrapper-burger .header__wrapper-burger__footer {
        text-align: center;
    }
    .header__wrapper-burger .header__wrapper-burger__footer-rights {
        margin-top: 8px;
    }
    .header__wrapper-burger .header__wrapper-burger__footer-mail, .header__wrapper-burger .header__wrapper-burger__footer-rights {
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        opacity: 0.8;
    }
    .header__wrapper-burger .header__wrapper-burger__footer .header__wrapper-burger__language {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 30px;
        margin-bottom: 70px;
    }
    .header__wrapper-burger .header__wrapper-burger__footer .header__wrapper-burger__language p {
        color: #ffffff;
        font-weight: 600;
        font-size: 36px;
        line-height: 1;
    }
    .header__wrapper-burger .header__wrapper-burger__footer .header__wrapper-burger__language .header__language {
        margin: 0;
        font-size: 36px;
        line-height: 1;
    }
    .header__wrapper-burger .header__wrapper-burger__footer .header__wrapper-burger__language .header__language .header__language-choose {
        width: 85px;
        height: auto;
        top: 50px;
        text-align: left;
    }
    .header__wrapper-burger .header__wrapper-burger__footer .header__wrapper-burger__language .header__language svg {
        margin-left: 8px;
    }
    .header__burger {
        display: block;
        width: 30px;
        height: 22px;
        z-index: 6;
        position: relative;
    }
    .header__burger span {
        position: absolute;
        background-color: #ffffff;
        border-radius: 1px;
        left: 0;
        width: 100%;
        height: 2px;
        top: 10px;
        -webkit-transition: all 0.7s;
        transition: all 0.7s;
    }
    .header__burger:after, .header .header__burger:before {
        content: "";
        background-color: #ffffff;
        border-radius: 1px;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    body.burger .header__wrapper-burger {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    body.burger .header__burger:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 8px;
        background-color: white;
    }
    body.burger .header__burger:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 12px;
        background-color: white;
    }
    body.burger .header__burger span {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    .hero {
        min-height: 70vh;
    }
    .hero-slider__slide {
        max-height: 70vh;
        min-height: 70vh;
    }
    .hero--game__text {
        font-size: 20px;
    }

    .games-grid {
        grid-template-columns: repeat(auto-fit, minmax(330px, -webkit-max-content));
        grid-template-columns: repeat(auto-fit, minmax(330px, max-content));
    }
    .games-card {
        max-width: 330px;
    }
    .games-card__title {
        font-size: 26px;
    }

    .news-grid {
        grid-template-columns: repeat(auto-fit, minmax(330px, -webkit-max-content));
        grid-template-columns: repeat(auto-fit, minmax(330px, max-content));
        grid-gap: 40px;
    }
    .news-card {
        max-width: 330px;
    }
    .news-card__title {
        font-size: 26px;
    }
    .news--page {
        padding: 60px 0;
    }

    .newsletter {
        padding: 40px 0 60px;
    }

    .footer {
        padding: 50px 0;
    }
    .footer-menu {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 26px 0 40px;
        gap: 20px 40px;
    }
    .footer-menu__item {
        margin: 0!important;
    }

    .page-quote__bg {
        max-width: 30vw;
    }
    .page-hero--vacancies__bg {
        max-width: 30vw;
    }

    .vacancies-item {
        gap: 20px;
        padding: 20px;
    }
    .vacancies-item--header {
        gap: 20px;
        padding: 15px 20px;
    }
    .vacancies-item--header__text {
        font-size: 16px;
    }
    .vacancies-item > *:nth-child(1) {
        max-width: 180px;
    }
    .vacancies-item > *:nth-child(2), .vacancies-item > *:nth-child(3) {
        max-width: 120px;
    }
    .vacancies-item__text {
        font-size: 16px;
        font-weight: 400;
    }
    .vacancies-item__desc {
        font-size: 16px;
    }

    .vacancy {
        padding: 50px 0;
    }
    .vacancy-title {
        font-size: 24px;
        margin-bottom: 18px;
    }
    .vacancy-text {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .apply--animated {
        margin-top: -60px;
    }

    .game {
        padding: 60px 0;
    }
    .game-title {
        font-size: 46px;
    }
    .game-desc {
        font-size: 20px;
    }
    .game-item__title {
        font-size: 32px;
    }
    .game-item__text {
        font-size: 18px;
        font-weight: 400;
    }
    .game-item--text {
        padding-right: 40px;
    }
    .game-row:nth-of-type(2n + 1) .game-item--text {
        padding-right: 0;
        padding-left: 40px;
    }

    .page-hero {
        background-attachment: initial!important;
    }

    .more-games {
        padding: 80px 0 60px;
    }
    .more-games__item-image {
        width: 320px;
        height: 200px;
    }
    .more-game__title {
        font-size: 22px;
    }
    .more-games__soon {
        padding: 40px 0;
    }
    .more-games__soon-title {
        font-size: 24px;
    }

    .one-news {
        padding: 50px 0;
    }
    .one-news__body {
        margin-top: 40px;
    }
    .one-news__text {
        font-size: 18px;
    }
    .one-news__text:not(:last-child) {
        margin-bottom: 20px;
    }
    .one-news__image-text {
        font-size: 14px;
    }

    .contacts-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .contacts-left {
        margin-bottom: 30px;
    }
    .contacts-title {
        text-align: center;
        margin-bottom: 40px;
    }
    .contacts-slider {
        max-width: 100%;
        height: 400px;
    }
    .contacts-slider-button {
        left: 10px;
        bottom: 10px;
    }
    .contacts-slider-button-next {
        left: auto;
        right: 10px;
    }
    .contacts-slider-button svg {
        width: 40px;
        height: 40px;
    }

    .get-in-touch {
        padding: 50px 0;
    }
}

@media (max-width: 767px) {
    .btn {
        font-size: 16px;
        width: 180px;
        height: 40px;
    }
    .section-title {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .contact-form__row {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 0;
    }
    .contact-form__content {
        max-width: 540px;
    }
    .contact-form__title {
        font-size: 38px;
        margin-bottom: 25px;
    }
    .contact-form__item {
        padding: 10px 0;
    }
    .contact-form__item input {
        font-size: 16px;
        padding: 12px;
        height: 40px;
    }
    .contact-form__item textarea {
        font-size: 16px;
        padding: 12px;
    }
    .contact-form__item label {
        font-weight: 500;
    }
    .contact-form__text {
        font-size: 12px;
        margin-top: 5px;
    }
    .contact-form__btn {
        margin-top: 25px;
    }

    .hero {
        min-height: 500px;
        position: relative;
    }
    .hero--game-everwayne {
        background-position: 65%!important;
    }
    .hero--game-warcos {
        background-position: bottom left!important;
    }
    .hero-slider__slide {
        max-height: 500px;
        min-height: 500px;
    }
    .hero-slider__slide-title__link {
        font-size: 38px;
        max-width: 500px;
    }
    .hero-slider__slide-more {
        margin: 16px 0 6px;
    }
    .hero-slider__slide-desc {
        font-size: 18px;
    }
    .hero-slider__slide-title {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .hero-slider .hero-swiper-button {
        display: none;
    }
    .hero-swiper-button--mobile {
        display: block;
        position: absolute;
        left: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .hero-swiper-button-next {
        left: auto;
        right: 5px;
    }
    .hero--game__text {
        font-size: 16px;
        max-width: 250px;
    }

    .games-grid {
        -ms-grid-columns: auto;
        grid-template-columns: auto;
    }
    .games-card {
        max-width: 100%;
    }
    .games-card__title {
        font-size: 22px;
    }

    .news-grid {
        -ms-grid-columns: auto;
        grid-template-columns: auto;
    }
    .news-card {
        max-width: 100%;
    }
    .news-card__title {
        font-size: 22px;
    }
    .news-card__text {
        font-size: 16px;
    }
    .news-card__date {
        margin-top: 16px;
    }

    .newsletter-form__input {
        height: 40px;
        font-size: 16px;
        padding: 10px;
    }
    .newsletter-title {
        font-size: 44px;
    }
    .newsletter-subtitle {
        font-size: 16px;
    }

    .page-hero {
        min-height: 500px;
    }
    .page-hero__banner {
        padding: 5px 40px;
        margin-bottom: 30px;
        font-size: 16px;
    }
    .page-hero__title {
        font-size: 38px;
    }
    .page-quote {
        padding: 40px 0;
    }
    .page-quote__text {
        font-size: 20px;
        font-weight: 500;
        padding: 0 10px;
    }
    .page-info {
        padding: 50px 0;
    }
    .page-info__title {
        font-size: 38px;
        line-height: 38px;
    }
    .page-info__subtitle {
        font-size: 22px;
        margin-top: 10px;
    }
    .page-info__text {
        font-size: 18px;
    }

    .vacancies-title {
        font-size: 42px;
    }
    .vacancies-subtitle {
        font-size: 18px;
    }

    .vacancies-list {
        gap: 20px;
        padding: 20px 0 40px;
    }
    .vacancies-item {
        gap: 0;
        padding: 25px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .vacancies-item--header {
        display: none;
    }
    .vacancies-item > *:nth-child(1) {
        max-width: 100%;
        font-weight: 600;
        font-size: 18px;
    }
    .vacancies-item > *:nth-child(2) {
        max-width: 100%;
        margin: 10px 0 5px;
    }
    .vacancies-item > *:nth-child(3) {
        max-width: 100%;
    }
    .vacancies-item > *:nth-child(4) {
        margin-top: 20px;
        border-top: 2px solid #C4C4C4;
        padding-top: 15px;
    }
    .vacancies-item__text {
        font-size: 16px;
        font-weight: 400;
    }
    .vacancies-item__text span {
        display: inline-block;
        font-weight: 500;
    }
    .vacancies-item__desc {
        font-size: 16px;
    }

    .page-hero--small .page-hero__title {
        font-size: 40px;
    }
    .page-hero--small .page-hero__subtitle {
        font-size: 20px;
    }
    .page-hero--small {
        min-height: 350px;
    }

    .game {
        padding: 40px 0 60px;
    }
    .game-top {
        margin: 0 auto 60px;
    }
    .game-title {
        font-size: 36px;
    }
    .game-desc {
        font-size: 18px;
    }
    .game-row {
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: normal!important;
        -ms-flex-direction: column!important;
        flex-direction: column!important;
    }
    .game-row:not(:last-of-type) {
        margin-bottom: 40px;
    }
    .game-item {
        width: 100%;
    }
    .game-item--text {
        padding: 0!important;
        margin-bottom: 20px;
    }
    .game-item__title {
        font-size: 28px;
    }
    .game-item__text {
        font-size: 16px;
        font-weight: 400;
    }
    .game-item__img {
        height: 250px;
    }

    .more-games {
        padding: 40px 0 60px;
    }
    .more-games__item {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
    .more-games__item-image {
        width: 100%;
        height: 280px;
    }
    .more-game__title {
        font-size: 22px;
    }
    .more-games__soon-title {
        font-size: 22px;
    }
}

@media (max-width: 500px) {
    .contact-form__file-item__title {
        max-width: 200px;
    }

    .header__wrapper-burger {
        padding: 80px 0 40px;
    }
    .header__wrapper-burger .header-menu__item {
        font-size: 26px;
        margin-bottom: 26px;
    }
    .header__wrapper-burger .header__wrapper-burger__footer .header__wrapper-burger__language p {
        font-size: 26px;
    }

    .newsletter-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .newsletter-form__input {
        max-width: 300px;
    }
    .socials-grid {
        grid-gap: 20px;
    }

    .page-hero--small .page-hero__title {
        padding: 0;
        font-size: 36px;
    }
    .page-hero--small .page-hero__subtitle {
        font-size: 18px;
    }

    .contacts-slider {
        height: 300px;
    }
}